In [1]:
import pandas as pd
from sklearn.pipeline import Pipeline
import sys
import os
sys.path.insert(0, os.path.abspath(os.path.join(".", "transformers")))
from preprocessing_part_2 import *

In [2]:
new_train_df = pd.read_csv('dataframes/train_geo_clustered.csv')

In [3]:
# we have a train df with a new column from first clusterization
new_train_df.head(2)

,name,latitude,longitude,review_count,rating,Friday,Saturday,Sunday,Monday,Tuesday,...,Wednesday_morning,Wednesday_afternoon,Wednesday_evening,Thursday_morning,Thursday_afternoon,Thursday_evening,Website_known,Phone_known,main_category,geo_cluster
0,Lead Handyman Services,25.324796,55.417346,0.933346,0.358979,8-11 AM,8 AM-6 PM,8 AM-6 PM,8 AM-6 AM,8 AM-6 PM,...,0,0,0,0,0,0,1,1,Service,0
1,Sunil Ambalavelil - Lawyer and Legal Consultan...,25.188190,55.271341,0.768221,0.640184,Hours not available,Hours not available,Hours not available,Hours not available,Hours not available,...,0,0,0,0,0,0,1,1,Attorney,0

We still have some columns to delete:
* name - is unique for every company
* latitude and longitude - these features were used for first clustering and need a special 'around sphere' distance metric that is inappropriate for other columns
* Friday,...Sunday - We already have binary columns like monday_morning/monday_evening etc

Column that we have to encode: main category

In [4]:
pipes = Pipeline([('remove_more_cols',MoreColumnsRemover()),
                    ('one_hot', CategoryEncoder())])
train_df = pipes.fit_transform(new_train_df)
train_df

,review_count,rating,verified,Friday_morning,Friday_afternoon,Friday_evening,Saturday_morning,Saturday_afternoon,Saturday_evening,Sunday_morning,...,main_category_Office,main_category_Other,main_category_Park,main_category_Pharmacy,main_category_Restaurant,main_category_Service,main_category_Shop,main_category_Store,main_category_Supermarket,main_category_Tourist
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,1,1,1,1,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
4,0,0,1,1,1,1,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15034,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15035,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15036,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15037,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15038,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0